:root {
    --off-white: #fafafa;
    --white: #ffff;
    --border-container: rgba(219,219,219);
    --hr-gray: #dbdbdb;
    --footer-light-gray: #8e8e8e;
    --black: #262626;
    --fb-blue: #385185;
    --link-dark-blue: #00376b;
    --link-blue: #0095f6;
    --input-bg: #e8f0fe;

    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
}

body {
    margin: 0;
    font-size: 14px;
    background-color: var(--off-white);
    color: var(--black);
    font-family: var(--font-family);
}

.mainContainer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding-bottom: 32px;
}

.phoneContainer img:first-child {
    height: 581.15px;
    margin-right: 32px;
}

.phoneContainer img:last-child {
    width: 250px;
    position: absolute;
    margin-top: 25px;
    margin-left: -299px;
    transition: opacity 1.5s ease-in-out;
}

.rightContainer {
    width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 12px;
}

.rightContainer > p {
    margin: 10px 0;
}

.containerBorder {
    border: 1px solid var(--border-container);
    background: var(--white);
    padding: 10px 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerBorder > img {
    height: 51px;
    margin: 36px 0;
}

.containerBorder p {
    margin: 0;
    color: var(--footer-light-gray);
}

.containerBorder span {
    margin: 15px;
}

.containerBorder a {
    text-decoration: none;
    color: var(--link-blue);
    font-weight: var(--font-weight-semibold);
}

.containerBorder > a {
    color: var(--link-dark-blue);
    font-weight: var(--font-weight-normal);
    margin: 12px 0 10px;
    font-size: 12px;
}

.formLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formLogin button {
    margin: 8px 0;
    padding: 7px 16px;
    border-radius: 8px;
    border: none;
    background-color: var(--link-blue);
    opacity: .7;
    color: var(--white);
    width: 100%;
}

input {
    border: 1px solid var(--border-container);
    background-color: var(--off-white);
    padding: 10px 0 10px 8px;
    margin-bottom: 6px;
    outline: none;
    border-radius: 3px;
}

input::placeholder {
    color: var(--footer-light-gray);
    font-size: 12px;
}

.fbLogin {
    margin: 8px 0;
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-semibold);
}

.fbLogin img {
    height: 16px;
    margin-right: 8px;
}


.fbLogin p {
    color: var(--fb-blue);
    margin: 0;
}

.orDivider {
    display: flex;
    align-items: center;
    margin: 10px 0 18px;
    width: 100%;
}

.orDivider span {
    margin: 0 18px;
    color: var(--footer-light-gray);
    font-weight: var(--font-weight-semibold);
    font-size: 13px;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--hr-gray);
}

.appDownload {
    margin: 10px 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.appDownload img {
    height: 40px;
    cursor: pointer;
}

footer {
    font-size: 12px;
    color: var(--footer-light-gray);
    margin: 24px 0 52px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footerLinks a {
    text-decoration: none;
    color: var(--footer-light-gray);
    margin: 0 8px 12px;
    outline: none;
}

.footerRights {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

select {
    border: none;
    background-color: transparent;
    color: var(--footer-light-gray);
    outline: none;
    cursor: pointer;
}

.footerRights p {
    margin: 0;
    margin-left: 16px;
}

@media screen and (max-width: 875px) {
    .phoneContainer {
       display: none;
    }
}

@media screen and (max-width: 450px) {
    .mainContainer {
        margin-top: 0;
    }

    .containerBorder {
        border: none;
        background-color: transparent;
    }
}